<!DOCTYPE html>
<html>

<head>
    <meta charset="GB2312">
    <title>InputBind</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- <script src="../vue.js"></script> -->
</head>

<body>
    <div id="root">
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="jhon" value="Jhon" v-model="checkedNames">
        <label for="jhon">Jhon</label>
        <input type="checkbox" id="bruce" value="Bruce" v-model="checkedNames">
        <label for="bruce">Bruce</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                checkedNames: []
            },
            methods: {}
        })
    </script>
</body>

</html>