<!DOCTYPE html>
<html>

<head>
    <meta charset="GB2312">
    <title>InputBind</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- <script src="../vue.js"></script> -->
</head>

<body>
    <div id="root">
        <select v-model="selected">
            <option v-for="option of options">{{option.value}}</option>
        </select>
        <br>
        <span>Checked names: {{ selected }}</span>

        <input v-model.number="age" type="number">
        <br/>
        <span>age: {{age}}</span>
        <input v-model.trim="msg">
        <br/>
        <span>msg: {{msg}}</span>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                selected: 'A',
                options: [{
                    text: 'one',
                    value: 'A'
                }, {
                    text: 'two',
                    value: 'B'
                }, {
                    text: 'three',
                    value: 'C'
                }],
                age: 0,
                msg: ''
            },
            methods: {}
        })
    </script>
</body>

</html>